:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	box-sizing: content-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	width: 100%;
	min-height: 100vh;
	overflow: scroll;
}

#root {
	display: flex;
	flex-direction: column;
	text-align: center;
	place-items: center;
	min-height: 100dvh;
}

#content {
	padding: 10px;
	padding-bottom: 100px;
	flex-grow: 1;
	overflow: scroll;
	min-width: 400px;
	width: 100%;
	max-width: 800px;
}

fieldset {
	margin: 0px;
	margin-bottom: 10px;
	border-color: #242424;
}

#personalDetails {
	max-height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	flex-grow: 0;
	gap: 5px;
}

.personalInput {
	max-width: 200px;
}
.personalInput > * {
	width: 170px;
}

#roles {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
}

.roleDetails {
	display: flex;
	flex-direction: column;
	place-items: center;
	gap: 12px;
}
.roleDetails:first-of-type > hr {
	visibility: collapse;
}
.roleDetails > div {
	width: max-content;
}
.roleDetails > div > label {
	display: inline-block;
	text-align: left;
	min-width: 150px;
}
.roleDetails > div > input {
	width: 400px;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

header,
footer {
	background-color: rgb(252, 252, 173);
	color: #1a1a1a;
	width: 100%;
	height: 36px;
	align-content: center;
}
header > *,
footer > * {
	margin: 6px;
	padding: 0px;
}

footer {
	margin-top: auto;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	width: fit-content;
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}
